:root {
    --fondo: rgba(0, 0, 0, 0.904);
    --texto: white;
}
@font-face {
    font-family: fuente-general;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: fuente-header;
    src: url(../fonts/Merienda-Regular.ttf);
}

@font-face {
    font-family: fuente-pc;
    src: url(../fonts/RobotoMono-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: fuente-general;
    font-size: 16px;
}

body {
    background-color: var(--fondo);
    color: var(--texto);
    position: relative;
}

h1 {
    text-align: center;
    color: orangered;
    text-shadow: 0 2px 5px crimson;
    text-shadow: 3px 3px 2px black;
}

h2,
p {
    margin-bottom: 0.8em;
}
hr {
    border: 0px;
    border-bottom: 1px solid rgba(255, 69, 0, 0.5);
    padding: 6px 0;
    margin: 24px 0;
}

h3 {
    padding-bottom: 10px;
    text-shadow: 0 0 10px black;
}

pre {
    font-family: fuente-pc;
}
/* estilos generales */

.cont-img {
    position: relative;
}
.programador {
    display: block;
    width: 92%;
    margin: auto;
    filter: blur(0.5px);
}

.titulo-programador {
    font-family: fuente-header;
    font-size: 2.5rem;
    z-index: 1;
    color: lightseagreen;
    text-shadow: 0 0 10px blue;
    text-align: center;
}

main {
    width: 92%;
    margin: auto;
    margin-top: 15px;
    font-size: 0.8rem;
}

.boton-vinculo {
    display: inline-block;
    padding: 5px 45px;
    background-color: orangered;
    color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
    margin: 20px 0;
    transition: 0.5s;
}

.boton-vinculo:hover {
    text-shadow: 0 0 5px white;
    box-shadow: 0 0 4px white;
    transform: scale(85%);
}

/* colores */
.rojo {
    color: rgb(241, 116, 141);
}
.purpura {
    color: rgb(236, 145, 236);
}

.verde {
    color: rgb(112, 236, 112);
}
