.nav-chico {
    width: 100%;
    line-height: 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navegador-horizontal {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    background-color: black;
    height: 36px;
    padding: 10px 0;
}

.boton-bar {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.bar1 {
    color: orangered;
    text-shadow: 0 0 4px orangered;
    border: 1px solid orangered;
    padding: 0 10px;
    border-radius: 10px;
}

.bar2:hover,
.bar3:hover {
    text-decoration: underline;
    text-shadow: 0 0 4px aliceblue;
}

footer {
    width: 92%;
    margin: auto;
}

.enlaces {
    color: black;
    background-color: orangered;
    border-radius: 50%;
    padding: 6px 8px;
    text-shadow: 0 0 2px black;
    margin: 24px 6px;
    box-shadow: 0 0 8px black;
    float: right;
}
header {
    margin-top: 60px;
}
