.nav-chico {
    width: 100%;
    line-height: 1rem;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navegador-horizontal {
    display: flex;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    background-color: black;
    height: 45px;
    padding: 14px 0;
}

.boton-bar {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
}

.bar1 {
    color: orangered;
    text-shadow: 0 0 4px orangered;
    border-bottom: 1px solid orangered;
    padding: 0 10px;
    border-radius: 6px;
}

.bar2:hover,
.bar3:hover {
    text-decoration: underline;
    text-shadow: 0 0 4px aliceblue;
}

.container-grid1 {
    background-color: orangered;
    padding: 6px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 6px;
}

.container-grid1 > div {
    color: black;
    background-color: aliceblue;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
}

.aitem1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.aitem2 {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.aitem5 {
    grid-column: 2 / span 2;
    grid-row: 3;
}

.tabla-navegadores {
    width: 100%;
    height: auto;
    box-shadow: 0 0 4px crimson;
}

.img-columnas,
.img-filas,
.img-gaps,
.linea-cuadricula {
    display: block;
    width: 80%;
    margin: auto;
}

.img-gaps,
.linea-cuadricula {
    background-color: aliceblue;
}
